<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>Animation</title>
    <link rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>
<body>
    <a href="Index.cshtml"><div class="logo"><img src="~/Images/Logo.png" height="175" width="175" /></div></a>
    <nav>
        <ul>
            <li><a href="Index.cshtml">Home</a></li>
            <li><a href="Search.cshtml">Search</a></li>
            <li><a href="About.cshtml">About</a></li>
        </ul>
    </nav>
    <a href="Index.cshtml"><div class="title"><h1>Film Planet</h1></div></a>

    <div class="genre"><h1>Animation</h1></div>

    <select id="selSort">
        <option value="Title">Title</option>
        <option value="Oldest">Oldest</option>
        <option value="Newest">Newest</option>
        <option value="Rating">Rating</option>
    </select>

</body>
</html>
