<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>Drama</title>
    <link id="littleLogo" rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>
<body>

    <!--<br />
    <br />
    <br />
    <br />-->

    <div class="genre"><h1>Drama</h1></div>

    <select id="selSort">
        <option value="Title">Title</option>
        <option value="Oldest">Oldest</option>
        <option value="Newest">Newest</option>
        <option value="Rating">Rating</option>
    </select>


    <!--<div class="container">
         <form id="form1" runat="server" class="form-horizontal" role="form"/>

         <!--<label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>

          <div class="row" id="idSort">
             <div class="col-md-6S">
                 <div class="col-md-12S" >
                          <div class="sorting"><h1>Title</h1></div>
                     </div>

         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>

                 <div class="col-md-12S" >
                          <div class="sorting"><h1>Chronoligcal</h1></div>
                     </div>

            </div>

              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />





             <div class="col-md-6S">
                 <div class="col-md-12S" >
                          <div class="sorting"><h1>Rating</h1></div>
                     </div>

       <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                  <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
                 <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>
         <label>&nbsp</label>

                 <div class="col-md-12S" >
                          <div class="sorting"><h1>Zetabetical</h1></div>
                     </div>

            </div>

         </div>

         </form>
    </div>-->

</body>
</html>