@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!--<link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>Home</title>
    <link rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>

<body>



    <div class="container">


        <form id="form1" runat="server" class="form-horizontal" role="form">

            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>

            <div class="row" id="boxes">
                <div class="col-md-6">
                    <div class="col-md-12" id="divAnimation">

                        <a asp-controller="Home" asp-action="Animation">
                            <img src="~/Images/cartoon.jpg" height="200" width="350" />
                            <!--height="200" width="400"-->
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="Animation">
                        Animation
                    </a>

                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>

                    <div class="col-md-12" id="divComedy">
                        <a asp-controller="Home" asp-action="Comedy">
                            <img src="~/Images/comedy.jpg" height="200" width="350" />
                        </a>

                    </div>

                    <a asp-controller="Home" asp-action="Comedy">
                        Comedy
                    </a>

                </div>

                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>


                <div class="col-md-6">
                    <div class="col-md-12" id="divDrama">
                        <a asp-controller="Home" asp-action="Drama">
                            <img src="~/Images/drama.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="Drama">
                        Drama
                    </a>

                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>

                    <div class="col-md-12" id="divHorror">
                        <a asp-controller="Home" asp-action="Horror">
                            <img src="~/Images/horror.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="Horror">
                        Horror
                    </a>

                </div>

                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>



                <div class="col-md-6">
                    <div class="col-md-12" id="divSciFi">
                        <a asp-controller="Home" asp-action="SciFi">
                            <img src="~/Images/scifi.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="SciFi">
                        SciFi
                    </a>

                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>

                    <div class="col-md-12" id="divRomance">
                        <a asp-controller="Home" asp-action="Romance">
                            <img src="~/Images/romance.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="Romance">
                        Romance
                    </a>

                </div>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
            </div>
        </form>

    </div>


</body>
</html>
