@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!--<link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>Home</title>
    <link rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>

<body>

    <a href="~Views/Home/Index.cshtml"><div class="logo"><img src="~/Images/Logo.png" height="175" width="175" /></div></a>
    <!--height="175" width="175"-->
    <nav>
        <ul>
            <li><a href="~/Home/Index.cshtml">Home</a></li>
            <li><a href="~/Pages/Search.cshtml">Search</a></li>
            <li><a href="~/Pages/About.cshtml">About</a></li>
        </ul>
    </nav>
    <a href="~Views/Home/Index.cshtml"><div class="title"><h1>Film Planet</h1></div></a>




    <div class="container">


        <form id="form1" runat="server" class="form-horizontal" role="form">

            @*<label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>
            <label>&nbsp</label>*@

            <div class="row" id="boxes">
                <div class="col-md-6">
                    <div class="col-md-12" id="divAnimation">

                        <a asp-controller="Home" asp-action="Animation">
                            <img src="~/Images/cartoon.jpg" height="200" width="350" />
                            <!--height="200" width="400"-->
                        </a>
                    </div>

                    <a asp-controller="Home" asp-action="Animation">
                        Animation
                    </a>

                    @*<label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>*@

                    <div class="col-md-12" id="divComedy">
                        <a href="Comedy.cshtml">
                            <img src="~/Images/comedy.jpg" height="200" width="350" />
                        </a>

                    </div>

                    <a href="Comedy.cshtml">
                        <asp:Label ID="lblComedy" runat="server" Text="Comedy" CssClass="labels"></asp:Label>
                    </a>

                </div>

                @*<label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>*@


                <div class="col-md-6">
                    <div class="col-md-12" id="divDrama">
                        <a href="Drama.cshtml">
                            <img src="~/Images/drama.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a href="Drama.cshtml">
                        <asp:Label ID="lblDrama" runat="server" Text="Drama" CssClass="labels"></asp:Label>
                    </a>

                    @*<label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>*@

                    <div class="col-md-12" id="divHorror">
                        <a href="Horror.cshtml">
                            <img src="~/Images/horror.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a href="Horror.cshtml">
                        <asp:Label ID="lblHorror" runat="server" Text="Horror" CssClass="labels"></asp:Label>
                    </a>

                </div>

                @*<label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>*@



                <div class="col-md-6">
                    <div class="col-md-12" id="divSciFi">
                        <a href="SciFi.cshtml">
                            <img src="~/Images/scifi.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a href="SciFi.cshtml">
                        <asp:Label ID="Label3" runat="server" Text="SciFi" CssClass="labels"></asp:Label>
                    </a>

                    @*<label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>
                    <label>&nbsp</label>*@

                    <div class="col-md-12" id="divRomance">
                        <a href="Romance.cshtml">
                            <img src="~/Images/romance.jpg" height="200" width="350" />
                        </a>
                    </div>

                    <a href="Romance.cshtml">
                        <asp:Label ID="Label4" runat="server" Text="Romance" CssClass="labels"></asp:Label>
                    </a>

                </div>
                @*<label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>
                <label>&nbsp</label>*@
            </div>
        </form>

    </div>


</body>
</html>
