<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/css/CapstoneStyleSheet.css" rel="stylesheet" />
    <title>Romance</title>
    <link id="littleLogo" rel="shortcut icon" href="~/Images/Logo.png" sizes="30x30" />
</head>
<body>

    <div class="genre"><h1>Romance</h1></div>

    <select id="selSort">
        <option value="Title">Title</option>
        <option value="Oldest">Oldest</option>
        <option value="Newest">Newest</option>
        <option value="Rating">Rating</option>
    </select>

</body>
</html>
